MQTT_URL=mqtt://admin:admin@localhost:51883
RABBITMQ_URL=amqp://admin:admin@localhost:55672
QUEUE_NAME=car_state_q

DB_HOST=localhost
DB_PORT=55432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres